.content-child{
    width:80%;
}

.center{
    text-align:center;
    margin: auto;
    left: 0;
    right: 0;
}

.center-absolute{
    position: absolute;
    display: block;
}

.padding-left-200{
    padding-left: 200px;
}

.height-80{
    height: 80px;
}